* {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    margin: 0;
    padding: 0;
}

@media print {
    body {
        font-size: 14px;
    }
}

header, main, footer {
    margin: 0 auto;
    padding: 1.4em;
    max-width: 1000px;
}

header {
    text-align: center;
}

header p {
    margin: 0;
}

main {
    border: 1px solid silver;
    margin-top: 0;
}

h1 {
    font-size: 1.8em;
    line-height: 1.6em;
    margin: 0;
}

h1 strong {
    display: block;
    font-size: 1.2em;
}

[contenteditable] {
    border: 1px solid silver;
    margin: 1em;
    padding: 1em;
}

p {
    text-indent: 1em;
}

main h2 + p {
    padding-left: 1em;
}

section h2,
article p {
    font-weight: 300;
    font-size: 1.2em;
}

figure {
    margin: 0 auto;
    text-align: center;
}


ol.alpha {
    list-style-type: lower-alpha;
}

ol.alpha li {
    margin-bottom: 2em;
}

[lang="pt-br"] {
    background-color: #efefef;
    border-bottom: 1px dashed #666;
    font-size: 1rem;
    font-style: italic;
    padding: .5em;
}