* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  line-height: 1.8em;
  margin: 0;
  padding: 0;
}

header, main, footer {
  margin: 0 auto;
  padding: 1.4em;
  max-width: 1000px;
}

header {
  text-align: center;
}

header p {
  margin: 0;
}

main {
  border: 1px solid silver;
  margin-top: 0;
}

h1 {
  font-size: 1.8em;
  line-height: 1.6em;
  margin: 0;
}

h1 strong {
  display: block;
  font-size: 1.2em;
}

figure {
  margin: 0 auto;
  text-align: center;
}

[lang="pt-br"] + figure {
  margin-bottom: 20px;
  margin-top: -20px;
}

img {
  max-width: 100%;;
}

ol.alpha {
  list-style-type: lower-alpha;
  margin-bottom: 0;
}

article,
ol.alpha li {
  padding-bottom: 2em;
}

ol.alpha.enunciado {
  margin-top: 0;
}

ol.step-by li,
ol.alpha.enunciado li {
  padding-bottom: 0;
}

ol.alpha li:last-child {
  padding-bottom: 0;
}

article footer {
  text-align: right;
}

/* estilos de paragrafos */
[contenteditable] {
  border: 1px solid silver;
  margin: 1em;
  padding: 1em;
}

p {
  text-indent: 1em;
}

main h2 + p {
  padding-left: 1em;
}

h1 + section > h2:first-of-type {
  margin-top: -.1em;
  margin-bottom: .2em;
}

section h2 {
  font-weight: 300;
  font-size: 1.6em;
}

article p {
  font-weight: 300;
  font-size: 1.2em;
}

[lang="pt-br"] {
  border-bottom: 1px dashed #ccc;
  font-size: .9rem;
  font-style: italic;
  line-height: 1.2em;
  margin-bottom: 1.8em;
  padding: .5em;
}

h2 + [lang="pt-br"],
p + [lang="pt-br"] {
  margin-top: -20px;
}

section p:first-of-type,
h1 + p {
  margin-top: 0;
}

.sml-caps {
  font-variant: small-caps;
  font-size: .8em;
}
/* fim estilos de paragrafos */

.definition-list {
  counter-reset: def 0;
}

.definition-list dt {
  font-size: 1.2em;
  font-weight: 400;
}
.definition-list dt::before {
  content: counter(def) ' - ';
  counter-increment: def 1;
}

.definition-list dd {
  padding-bottom: 1em;
}

.hide {
  display: none;
}

@media print {
  body {
      font-size: 14px;
  } 
  
  header, main, footer {
      padding: 0;
  }

  header h2 {
    margin: .5em 0;
  }

  main {
      border: 0;
  }
}